# dependencies
/node_modules
/.pnp
.pnp.js

# testing
/coverage
/.nyc_output

# production
/build

# misc
.DS_Store
.env
.env.test
.cache
.artifacts

# Hardhat
hardhat-*.json

contracts/upgradeInitializers/artifacts

.deps/
artifacts/
bin/
compiler_config.json
contracts/.deps/
contracts/artifacts/
contracts/compiler_config.json
cache/