# dependencies
/node_modules
/.pnp
.pnp.js

# testing
/coverage
/.nyc_output

# production
/build

# misc
.DS_Store
.env
.env.test
.cache

# Hardhat
hardhat-*.json


.deps/
bin/
compiler_config.json
contracts/.deps/
contracts/artifacts/
contracts/compiler_config.json
cache/
